<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcedir" value="D:\Hackathon\templates\srcfiles" />
    <add key="destdir" value="D:\Hackathon\templates\dstfiles" />
    <add key="AddinId" value="wa104380862" />
    <add key="AddinVersion" value="1.1.0.0" />
    <add key="AddinStore" value="en-US" />
    <add key="AddinStoreType" value="OMEX" />
  </appSettings>
</configuration>